<!DOCTYPE html>
<html>

<head>
    <title>People - SenseData App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {{ pagination.links }}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th><a href="#">Nome</a></th>
                    <th>Gênero</th>
                    <th>Peso</th>
                    <th>Altura</th>
                </thead>
                <tbody>
                    {% for people in people %}
                    <tr>
                        <td>{{people.name}}</td>
                        <td>{{people.gender}}</td>
                        <td>{{people.mass}}</td>
                        <td>{{people.height}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagination.links }}
    </div>
</body>

</html>